/**
* Colors
* https://www.design-seeds.com/wp-content/uploads/2017/04/4_12_ColorView_liz.png
* #D9DDE7
* #A9C8D2
* #87AFC1
* #5785A3
* #37433D
* #B4AB48
*/

primary-color = #5785A3
primary-text = #000000
secondary-text = #FFFFFF

body
  color: primary-text

.navbar
  margin-bottom: 0
  
.navbar-default .navbar-brand
  color: primary-color
  
h1 
  color: primary-color

.jumbotron
  background-color: primary-color
  color: secondary-text