<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
        <h1><%= config.title %></h1>
        <% if(config.subtitle) { %>
        <p><%= config.subtitle %></p>
        <% } %>
    </div>
  </div>
</div>
<div class="container">
</div>